:root {
    --aquablue: rgb(124, 180, 255);
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#TOS-TITLE {
    font-size: xx-large;
}

#back {
    outline: none;
    background-color: whitesmoke;
    color: var(--aquablue);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#back:hover {
    cursor: grab;
}