body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#TOS-TITLE {
    font-size: xx-large;
}

#back {
    outline: none;
    border: none;
    border-radius: none;
    color: aquamarine;
}